@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

.active-link{
  font-weight: bold;
}

.loading-spinner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.main-nav{
  z-index: 10000;
}

@media(max-width: 900px){
  .blog-list{
    width: 90%;
  }
  .error-wrapper{
    flex-direction: column;
  }
}